node_modules
.next
out
dist-electron
electron/out
electron/compile
coverage
test-results
playwright-report
blob-report
.auth
.nyc_output
.git
.env*
!env.template
npm-debug.log*
dev-server.log
npm-install.log
*.tsbuildinfo
.DS_Store
